<div class="dice {{ diceValue }} w-28 h-28 p-4 bg-black rounded-xl grid grid-cols-3 grid-rows-3 gap-2">
    <span class="w-full h-full bg-white rounded-full"></span>
    <span class="w-full h-full bg-white rounded-full"></span>
    <span class="w-full h-full bg-white rounded-full"></span>
    <span class="w-full h-full bg-white rounded-full"></span>
    <span class="w-full h-full bg-white rounded-full"></span>
    <span class="w-full h-full bg-white rounded-full"></span>
    <span class="w-full h-full bg-white rounded-full"></span>
    <span class="w-full h-full bg-white rounded-full"></span>
    <span class="w-full h-full bg-white rounded-full"></span>
</div>
