<div #board class="relative grid grid-rows-8 grid-cols-8 rounded-xl overflow-hidden border-black border">
    <!-- top -->
    <div class="playspace rounded-tl-xl w-28 h-28 bg-white border-black border on-board"></div>
    <div class="playspace w-28 h-28 bg-white border-black border"></div>
    <div class="playspace w-28 h-28 bg-white border-black border"></div>
    <div class="playspace w-28 h-28 bg-white border-black border"></div>
    <div class="playspace w-28 h-28 bg-white border-black border"></div>
    <div class="playspace w-28 h-28 bg-white border-black border"></div>
    <div class="playspace w-28 h-28 bg-white border-black border"></div>
    <!-- right -->
    <div class="playspace rounded-tr-xl w-28 h-28 bg-white border-black border col-start-8 col-end-9"></div>
    <div class="playspace w-28 h-28 bg-white border-black border col-start-8 col-end-9"></div>
    <div class="playspace w-28 h-28 bg-white border-black border col-start-8 col-end-9"></div>
    <div class="playspace w-28 h-28 bg-white border-black border col-start-8 col-end-9"></div>
    <div class="playspace w-28 h-28 bg-white border-black border col-start-8 col-end-9"></div>
    <div class="playspace w-28 h-28 bg-white border-black border col-start-8 col-end-9"></div>
    <div class="playspace w-28 h-28 bg-white border-black border col-start-8 col-end-9"></div>
    <!-- bottom -->
    <div class="playspace rounded-br-xl w-28 h-28 bg-white border-black border row-start-8 row-end-9 col-start-8 col-end-9"></div>
    <div class="playspace w-28 h-28 bg-white border-black border row-start-8 row-end-9 col-start-7 col-end-8"></div>
    <div class="playspace w-28 h-28 bg-white border-black border row-start-8 row-end-9 col-start-6 col-end-7"></div>
    <div class="playspace w-28 h-28 bg-white border-black border row-start-8 row-end-9 col-start-5 col-end-6"></div>
    <div class="playspace w-28 h-28 bg-white border-black border row-start-8 row-end-9 col-start-4 col-end-5"></div>
    <div class="playspace w-28 h-28 bg-white border-black border row-start-8 row-end-9 col-start-3 col-end-4"></div>
    <div class="playspace w-28 h-28 bg-white border-black border row-start-8 row-end-9 col-start-2 col-end-3"></div>
    <!-- left -->
    <div class="playspace rounded-bl-xl w-28 h-28 bg-white border-black border row-start-8 row-end-9 col-start-1 col-end-2"></div>
    <div class="playspace w-28 h-28 bg-white border-black border row-start-7 row-end-8 col-start-1 col-end-2"></div>
    <div class="playspace w-28 h-28 bg-white border-black border row-start-6 row-end-7 col-start-1 col-end-2"></div>
    <div class="playspace w-28 h-28 bg-white border-black border row-start-5 row-end-6 col-start-1 col-end-2"></div>
    <div class="playspace w-28 h-28 bg-white border-black border row-start-4 row-end-5 col-start-1 col-end-2"></div>
    <div class="playspace w-28 h-28 bg-white border-black border row-start-3 row-end-4 col-start-1 col-end-2"></div>
    <div class="playspace w-28 h-28 bg-white border-black border row-start-2 row-end-3 col-start-1 col-end-2"></div>
    <!-- center -->
    <div class="border border-black row-start-2 row-end-8 col-start-2 col-end-8"></div>
 </div>