.dice.one > span:not(:nth-child(5)) {
    opacity: 0;
}
.dice.two > :not(span:nth-child(1), span:nth-child(9)) {
    opacity: 0;
}
.dice.three > :not(span:nth-child(1), span:nth-child(5), span:nth-child(9)) {
    opacity: 0;
}
.dice.four > span:nth-child(even),
.dice.four > span:nth-child(5) {
    opacity: 0;
}
.dice.five > span:nth-child(even) {
    opacity: 0;
}
.dice.six > span:nth-child(2),
.dice.six > span:nth-child(5),
.dice.six > span:nth-child(8) {
    opacity: 0;
}