<div class="p-16">
    <!-- dice property -->
     <div class="dice-wrapper flex gap-x-4">
        <div class="dice one w-28 h-28 p-4 bg-black rounded-xl grid grid-cols-3 grid-rows-3 gap-2">
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
        </div>
        <div class="dice two w-28 h-28 p-4 bg-black rounded-xl grid grid-cols-3 grid-rows-3 gap-2">
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
        </div>
        <div class="dice three w-28 h-28 p-4 bg-black rounded-xl grid grid-cols-3 grid-rows-3 gap-2">
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
        </div>
        <div class="dice four w-28 h-28 p-4 bg-black rounded-xl grid grid-cols-3 grid-rows-3 gap-2">
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
        </div>
        <div class="dice five w-28 h-28 p-4 bg-black rounded-xl grid grid-cols-3 grid-rows-3 gap-2">
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
        </div>
        <div class="dice six w-28 h-28 p-4 bg-black rounded-xl grid grid-cols-3 grid-rows-3 gap-2">
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
            <span class="w-full h-full bg-white rounded-full"></span>
        </div>
     </div>
    
</div>
